.App {
    background-color: #E3FFE3;
    height: 100vh;
}

.App-header {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #2d552d;
}

.filter-text {
    font-family: "Poppins", sans-serif;
}

.list {
    background-color: #c4f1c4;
}